<footer class="site-footer" >

  <hr/>
  <div id="footerBar" style="text-align:center; padding-top: 5px;margin-bottom: 10px">
    {% comment %}
    Not sure if we need / want a copyright, but footer feels naked without, so leave for now.
    Todo: figure out left/right floating footer
    {% endcomment %}
    <span>Copyright © 2016 FairPay Cooperative, Inc.</span>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    Design by <a href="http://templated.co" target="_blank" rel="nofollow">templated.co</a>
 </div>

</footer>
