<header class="site-header">

  <div class="themeWidth">
    <div class="themeBrandingArea">
      <div class="themeBrandingContainer">
        <div class="tableRow">
          <div class="tableCell themeSitenameCaptionOuterContainer">
            <div class="themeBrandingContainer themeSitenameCaptionInnerContainer">
              <div class="tableRow themeSitenameCaptionContainer">
                <div class="tableCell themeSitenameCaptionContainer">
                  <div class="themeSitename" id="zpSitename">FairPay Cooperative, Inc.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="themeSocialIconArea"></div>
  </div>

  <div class="themeNavigationContainer">
    <div class="themeWidth">
      <div class="themeNavigationArea" style="width:100%;">
        <div id="navigation">
          <ul id="nav-top" data-navorientation=horizontal>
            <li class="{% if page.id == 'home' %}selected{% endif %}"><a target="_self" href="index.html"><span>Home</span><em></em></a></li>
            <li class="{% if page.id == 'about-us' %}selected{% endif %}"><a target="_self" href="about-us.html"><span>About Us</span><em></em></a></li>
            <li class="{% if page.id == 'contact' %}selected{% endif %}"><a target="_self" href="contact.html"><span>Contact</span><em></em></a></li>
          </ul>


          <div id="childPageParent" style="position:relative">
            <div id="childPage">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</header>
