<div id="header">
  <div id="logo">
    <h1><a href="/">FairPay Cooperative</a></h1>
  </div>
</div>
<div id="menu">
  <ul>
    <li class="{% if page.id == 'home' %}active{% endif %}"><a href="/index.html" accesskey="1" title="">Home</a></li>
    <li class="{% if page.id == 'about-us' %}active{% endif %}"><a href="/about-us.html" accesskey="2" title="">About Us</a></li>
    <li class="{% if page.id == 'contact' %}active{% endif %}"><a href="/contact.html" accesskey="3" title="">Contact</a></li>
  </ul>
</div>


